{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'includes/base.html' %}
<section>
    <!-- Header -->
    <div class="container">
        <div class="row">
            <div class="main-title col-sm-3">
                <p>Buat Kegiatan</p>
            </div>
            <div class="col-sm-6"></div>
            <div class="main-title col-sm-3">
                <a href= "{% url 'story6:semua' %}">List Kegiatan</a>
            </div>
        </div>
        <div class="centering font-title mt-5">
            <h1>Ayo Buat Kegiatan!</h1>
        </div>  
        <!-- Form -->
        <div class="formku ">
            <form action="" method="POST">
                {% csrf_token %}    
                {{ form }}
                <div class="buttonk">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
</html>