<!DOCTYPE html>
<html lang="en">
    {% include 'includes/base.html' %}
<section>
    <div class="">
        <button type="submit" class="btn btn-dark">Back</button>
    </div>
    <div class="d-flex align-items justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}    
            {{ peserta }}
            <input type="hidden" value="{{ event.id }}" name="tambah">
            <div class="buttonk">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
</section>
</html>