{% load static %}
<!DOCTYPE html>
{% include 'includes/base.html' %}
{% include 'includes/navbar.html' %}
<section>
    <!-- Index -->
    <div class="container">
        <div class="main-jadwal">
            <hr class="hr-css">
            <h1>Selamat Datang di AturKegiatan</h1>
            <h4>Sebuah <i>web-based activity organizer</i> buatan Salman Marsha</h4>
            <hr class="hr-css">
        </div>
        <div class="d-flex justify-content-center">
            <table>
                <tr>
                    <td>
                        <a class="btn btn-dark" href= "{% url 'story6:form' %}">Buat Kegiatan</a>
                    </td>
                    <td>
                        <a class="btn btn-dark" href= "{% url 'story6:semua' %}">List Kegiatan</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
</html>