{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'includes/base.html' %}
<section>
    <!-- Header -->
    <div class="container">
        <div class="row">
            <div class="main-title col-sm-3">
                <a href= "{% url 'story6:form' %}">Buat Kegiatan</a>
            </div>
            <div class="col-sm-6"></div>
            <div class="main-title col-sm-3">
                <p>List Kegiatan</p>
            </div>
        </div>
    </div>
    <div class="centering font-title mt-5">
        <h1>List Jadwal</h1>
    </div>
    <!-- content -->
    {% for elemen in semua %}
    <div class="container">
        <div class="nama-title">
            <div class="centering">
                <h1><u>{{ elemen.nama_kegiatan }}</u></h1>
                <p id="ahmad">{{ elemen.deskripsi_kegiatan }} </p>
            </div>
            <div>
                <h3>Peserta:</h3>
                {% for target in peserta %}
                {% if target.ikut_kegiatan == elemen %}
                <div class="d-flex justify-content-between mt-5 ml-5">
                    <h4>{{ target.nama_peserta }}</h4>
                    <button type="submit" class="btn btn-dark"><a href=" {% url 'story6:delete' id=target.id %}">Hapus Peserta</a></button>
                    
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="buttonk">
                    <button type="submit" class="btn btn-dark"><a href=" {% url 'story6:detail' id=elemen.id %}">Tambah Peserta</a></button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</section>
</html>