.idk li{
    list-style-type: none;
}

.formku{
    padding: 10%;
    padding-top: 0;
}

.nama-title{
    background-color: white;
    color: black;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    font-size: 50px;
    margin-top: 30px;
}

.nama-title #ahmad{
    font-size: 20px;
}

.buttonk{
    margin-top: 5px;
    text-align: center;
}

.details{
    font-size: 50px;
}

.main-title{
    font-size: 30px;
    border-radius: 25px;
    border: 3px solid black;
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
}

.hr-css{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    background-color: black;
}

.main-jadwal{
    margin-top: 20%;
    text-align: center;
}

.centering{
    text-align: center;
}

.font-title{
    font-size: 30px;
}

.kotak-detail{
    background-color: white;
    color: black;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    font-size: 30px;
    margin-top: 30px;
}