{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AturJadwal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static 'style1.css' %}">
</head>
<body>
    <div class="container details">
        <div class="row">
            <h1>{{ detail.nama }}</h1>
        </div>
        <div class="kotak-detail">
            <div class="row">
                <div class="col-4"><h3>Dosen Pengajar</h3></div>
                <div class="col-auto">:</div>
                <div class="col-7">{{ detail.dosen }}</div>
            </div>
            <div class="row">
                <div class="col-4"><h3>Bobot SKS</h3></div>
                <div class="col-auto">:</div>
                <div class="col-7">{{ detail.sks }} SKS</div>
            </div>
            <div class="row">
                <div class="col-4"><h3>Tahun Ajaran</h3></div>
                <div class="col-auto">:</div>
                <div class="col-7">{{ detail.semester }} {{ detail.tahun }}</div>
            </div>
            <div class="row">
                <div class="col-4"><h3>Ruang</h3></div>
                <div class="col-auto">:</div>
                <div class="col-7">Ruang {{ detail.ruang }}</div>
            </div>
            <br>
            <br>
            <div class="deskripsi">
                <h3>Deskripsi:</h3>
                {{ detail.deskripsi }}
            </div>


            <div class="tugas">
                <br>
                <br>
                <h2>Tugas: </h2>
                    {% for elemen in matkul %}
                <div class="">
                    {{ elemen.nama_tugas }}
                    {{ elemen.deadline_tugas }}

                    {% endfor %}
                </div>
            </div>
        </div>
        <!--<div class="igomid">
             <table>
                <tr>
                    <td>Dosen Pengajar</td>
                    <td>:</td>
                    <td>{{ detail.dosen }}</td>
                </tr>
                <tr>
                    <td>SKS</td>
                    <td>:</td>
                    <td>{{ detail.sks }}</td>
                </tr>
                <tr>
                    <td>Semester</td>
                    <td>:</td>
                    <td>{{ detail.semester }}</td>
                </tr>
                <tr>
                    <td>Tahun Ajaran</td>
                    <td>:</td>
                    <td>{{ detail.tahun }}</td>
                </tr>
                <tr>
                    <td>Ruang</td>
                    <td>:</td>
                    <td>{{ detail.ruang }}</td>
                </tr>
            </table>
        </div>
        <div>
            <p>Deskripsi</p>
            <p>{{ detail.deskripsi }}</p>
        </div> -->
    </div>
    <div>

    </div>
</body>
</html>