{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'includes/base.html' %}
<body>
    <div class="container">
        <div class="row">
            <div class="main-title col-sm-3">
                <p>Buat Jadwal</p>
            </div>
            <div class="col-sm-6"></div>
            <div class="main-title col-sm-3">
                <a href= "{% url 'jadwal:semua' %}">List Jadwal</a>
            </div>
        </div>
        <div class="centering font-title mt-5">
            <h1>Ayo Susun Jadwalmu!</h1>
        </div>

        <div class="formku ">
            <form action="" method="POST">
                {% csrf_token %}    
                {{ form }}
                <div class="buttonk">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>