{% load static %}
<!DOCTYPE html>
{% include 'includes/base.html' %}
{% include 'includes/navbar.html' %}
<body>
    <div class="container">
        <div class="main-jadwal">
            <hr class="hr-css">
            <h1>Selamat Datang di AturJadwal</h1>
            <h4>Sebuah <i>web-based schedule organizer</i> buatan Salman Marsha</h4>
            <hr class="hr-css">
        </div>
        <div class="d-flex justify-content-center">
            <table>
                <tr>
                    <td>
                        <a class="btn btn-dark" href= "{% url 'jadwal:form' %}">Buat Jadwal</a>
                    </td>
                    <td>
                        <a class="btn btn-dark" href= "{% url 'jadwal:semua' %}">List Jadwal</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>