{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'includes/base.html' %}
<body>
    <div class="container">
        <div class="row">
            <div class="main-title col-sm-3">
                <a href= "{% url 'jadwal:form' %}">Buat Jadwal</a>
            </div>
            <div class="col-sm-6"></div>
            <div class="main-title col-sm-3">
                <p>List Jadwal</p>
            </div>
        </div>
    </div>
    <div class="centering font-title mt-5">
        <h1>List Jadwal</h1>
    </div>
    {% for elemen in semua %}
    <div class="container">
        <div class="nama-title">
            <a href="{{ elemen.id }}"> {{ elemen.nama }} </a>
            <p id="ahmad">Sebuah mata kuliah yang ini diajar oleh {{ elemen.dosen }} </p>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ elemen.id }}" name="idhapus">
                <div class="buttonk">
                    <button type="submit" class="btn btn-dark">Hapus</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</body>
</html>