{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'includes/base.html' %}
<body>  
  {% include 'includes/navbar.html' %}
  <div class="side-barr">
    <table>
      <tr>
        <td><a href="https://web.facebook.com/salman.marsha">
          <img src="{% static 'facebook white.svg' %}"></a></td> 
      </tr>
      <tr>
        <td><a href="https://www.instagram.com/salmanmarsha_/"><img src="{% static 'Instagram white.svg' %}"></a></td>
      </tr>
      <tr>
        <td><a href="https://www.linkedin.com/in/salman-marsha-5061b214b"><img src="{% static 'Linkedin white.svg' %}"></a></td>
      </tr>
      <tr>
        <td><a href="https://twitter.com/SalmanMarsha1"></a><img src="{% static 'twitter black.svg' %}"></a></td>
      </tr>
    </table>
</div>


 <div class="container" id="main-page">
  <div class="container d-flex flex-column flex-md-row">
    <div class="photo">
      <img src="{% static 'round.png' %}">
  </div>
  <div class="body-main">
      <p>Hai,</p>
      <p>aku Salman Marsha</p>
  </div>
  </div>
  </div>
  
  <div class="container" id="second-page">
    <div class="row">
      <div class="d-flex flex-column">
        <div class="title-white">
          <p>Tentang Saya</p>
        </div>
        <p class="">Saya adalah mahasiswa Fasilkom UI yang sedang menggeluti mata kuliah 
        Perancangan dan Pemrograman Web untuk mencapai impian saya, yaitu menjadi 
        Web Developer.</p>
      </div>
    </div>
  </div>

  <div class="container" id="third-page">
    <div class="row">
    <div class="d-flex flex-column">
      <p class="title-black">Keahlian</p>
      <p class="">Saya cukup ahli dalam menggunakan Python, Flask, HTML, dan sekarang sedang
      mengembangkan Java, CSS, Git, dan Javascript.</p>
      <div class="git-photo">
        <a href="https://gitlab.com/SalmanMarsha">
          <img class="git-photo" src="{% static 'gitlab.svg' %}"></a>
      </div>
      </div>
  </div>
</div>

  <div class="container" id="fourth-page">
    <div class="row caro">
      <div class=" col-md-12 d-flex flex-column">
      <p class="small-idea">Ada ide?</p c>
      <p class="big-idea">Ayo Diskusikan!</p>
      <div class="caro d-flex justify-content-center">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
          Interest
        </button>
      </div>
      <div class="size-med">
        <ul>
          <li><img src="{% static 'phone.png' %}"> (+62)82251142255</li>
          <li><img src="{% static 'Mail.svg' %}"> salman.marsha@ui.ac.id</li>
        </ul>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">My Interest</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static "HTML5.svg" %}" alt="First slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{% static "CSS3.svg" %}" alt="Second slide">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{% static "JS.svg" %}" alt="Third slide">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>