{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'includes/base.html' %}
<body>
    {% include 'includes/navbar.html' %}
    <div class="back-sign">
        <a href="{% url 'homepage:index' %} "><img src="{% static 'back-sign.svg' %}"></a>
    </div>
    <div class="container">
        <div class="d-flex flex-row  main-page-profile">
            <div class="photo-profile center">
                <img src="{% static 'profile.jpg' %}">
            </div>
            <div class="name-profile">
                <h1 class="salman">Salman</h1>
                <h1 class="marsha">Marsha</h1>
            </div>
        </div>
    </div>

    <div class="container biodata-sec"> 
        <div class="row d-flex">
            <p class="title-profiles">Biodata</p>
            <div class="col-sm-12 table-profile">
                <table>
                    <tr>
                        <td>Nama</td>
                        <td>:</td>
                        <td>Salman Marsha</td>
                    </tr>
        
                    <tr>
                        <td>Nama Panggilan</td>
                        <td>:</td>
                        <td>Salman Marsha</td>
                    </tr>
        
                    <tr>
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Palangka Raya, 2 Maret 2002</td>
                    </tr>
                    
                    <tr>
                        <td>Nomor HP</td>
                        <td>:</td>
                        <td>082251142255</td>
                    </tr>
        
                    <tr>
                        <td>Hobi</td>
                        <td>:</td>
                        <td>Melihat Pola</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="container riwayat-sec">
        <div class="row d-flex">
            <p class="title-profiles"> Riwayat Pendidikan</p>
            <div class="col-md-12 table-profile table-center">
                <table>
                    <tr>
                        <td>
                            <div class="">
                                <p><u>SD Negeri 10 Palangka Raya</u></p>
                                <br>
                                <p>2007-2013</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><u>SMP Negeri 2 Palangka Raya</u></p>
                                <br>
                                <p>2007-2013</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><u>SMA Negeri 2 Palangka Raya</u></p>
                                <br>
                                <p>2007-2013</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><u>Kuliah</u></p>
                                <br>
                                <p>2019-Sekarang</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="organisasi-sec">
            <p class="title-profiles">Organisasi</p>
            <div class="table-profile table-center">
                <p>Reporter Jurnalistik Smada</p>
                <p>2016-2017</p>

                <br>

                <p>Ketua Divisi Reporter Jurnalistik Smada</p>
                <p>2017-2018</p>

                <br>

                <p>Wakil Ketua Bidang Humas</p>
                <p>2019-Sekarang</p>
            </div>
        </div>
    </div>

    <div class="container">
    
        <p class="title-profiles">Kontak:</p>
        <div class="footer-profile">
        <ul>
            <li><a href="https://web.facebook.com/salman.marsha">
              <img src="{% static 'facebook white.svg' %}" width="50" height="50"></a></li>
            <li><a href='https://www.instagram.com/salmanmarsha_/'><img src="{% static 'Instagram white.svg' %}"></a></li>
            <li><a href='https://www.linkedin.com/in/salman-marsha-5061b214b'><img src="{% static 'Linkedin white.svg' %}"></a></li>
            <li><a href='https://twitter.com/SalmanMarsha1'></a><img src="{% static 'twitter black.svg' %}"></a></li>
          </ul>

        </div>
</div>

</body>
</html>