@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

@media (min-width:900px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar-expand-lg{
        justify-content: space-between;
    }
}
html{
    scroll-behavior: smooth;
}

#main-page{
    padding: 90px;
}
.photo{
    text-align:center;
}
.photo img{
    height: auto;
    width: 40vw;
}
.body-main{
    padding: 30px;
    height: auto;
    width: 24vw;
    font-size: 25px;
}

.navbar-css{
    position: fixed;
    z-index: 4;
}

#second-page{
    background-color: black;
    color: white;
    height: 780px;
    text-align: center;
    font-size: 200%;
    padding: 80px;
}

.footer-main ul{
    list-style-type: none;
    text-align: center;
    font-size: 250%;
}
.footer-main li{
    float: left;
    margin: 40px;
}

.yer{
    max-width: 400px;
    margin-top: 50px;
    text-align: center;
    z-index: -1;
}

.nav-photo img{
    height: 100%;
    width: 60px;
    z-index: 1;
}

.rey{
    text-align: right;   
}

.blackrey{
    background-color: white;
    color: black;
    border : 3px white;

}

.whiteyer{
    background-color: black;
    color: white;
    border : 3px black;
}

#third-page{
    background-color: white;
    color: black;
    height: 700px;
    text-align: center;
    font-size: 200%;
    margin-top: 50px;
}

.size-med{
    text-align: center;
}
.size-med ul{
    list-style-type: none;
    display: block;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    padding: 150px;
}
.size-med img{
    height: 100%;
    width: 50px;
    text-align: left;
}

#third-page img{
    height: 100%;
    width: 200px;
}

.small-idea{
    font-size: 30px;
    text-align: center;
}

.big-idea{
    font-size: 60px;
    background-color: black;
    color: white;
    text-align: center;
}

.nav-name{
    max-width: 300px;    
    text-align: left;
}

.side-barr{
    position: fixed;
    left: 95%;
    top: 30%;
}
.side-barr img{
    width: 50px;
    padding: 0;
}

#fourth-page ul {
    margin: auto;
}


.title-white{
    background-color: white;
    color: black;
    max-width: 200px;
}
.title-black{
    background-color: black;
    color: white;
    max-width: 200px;
}

.git-photo{
    text-align: center;
}
@media(max-width:900px){

.side-barr{
    display: none;
}
.title-white{
    background-color: white;
    color: black;
    margin: auto;
}
.title-black{
    background-color: black;
    color: white;
    margin: auto;
}
}

.caro{
    text-align: center;
}

/* Halaman Profil */
.main-page-profile{
    text-align: center;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
}
.photo-profile{
    border-radius: 25px;
    border: 3px black;
    display: inline-block;
}
.photo-profile img{
    height: 100%;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 6px 10px rgba(100,100,100,.5);
}

.riwayat-sec{
    font-size: 25px;
}

.table-profile{
    background-color: white;
    color: black;
    border-radius: 25px;
    /* border: 3px solid; */
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    
}

.table-center{
    text-align: center;
}

.title-profiles{
    font-size:30px;
}


.footer-profile{
    background-color: white;
    color: black;
    height: 100x;
    border-radius: 25px;
    box-shadow: 0 6px 10px rgba(100,100,100,.5);
}
.footer-profile img{
    height: 50px;
}

.footer-profile ul{
    list-style-type: none;
    text-align: center;
}
.footer-profile li{
    display: inline;
}

.back-sign{
    position: fixed;
    left: 90%;
    top: 85%;
}

.back-sign{
    height: auto;
    width: 90px;
}

/* untuk jadwal
 */

.formku{
    padding: 10%;
    padding-top: 0;
}

.nama-title{
    background-color: white;
    color: black;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    font-size: 50px;
    margin-top: 30px;
}

.nama-title #ahmad{
    font-size: 20px;
}

.buttonk{
    margin-top: 5px;
    text-align: center;
}

.details{
    font-size: 50px;
}

.main-title{
    font-size: 30px;
    border-radius: 25px;
    border: 3px solid black;
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
}

.hr-css{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
    background-color: black;
}

.main-jadwal{
    margin-top: 20%;
    text-align: center;
}

.centering{
    text-align: center;
}

.font-title{
    font-size: 30px;
}

.kotak-detail{
    background-color: white;
    color: black;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    font-size: 30px;
    margin-top: 30px;
}
