<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jam Beker</title>
</head>
<body>
    <h1>Sekarang Jam :</h1>
    <h1>{{ hour }} : {{ minute }} : {{ second }}</h1>
</body>
</html>