{% block content %}
{% load static %}
    <nav class="col-md-12 navbar navbar-expand-lg navbar-light bg-light navbar-css fixed-top">
      <a class="navbar-brand nav-photo" href="#"><img src="{% static 'juleha.png' %}" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
       <div class="collapse navbar-collapse navbar-link" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="{% url 'homepage:index' %}" >Halaman Utama</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{% url 'homepage:profile' %}">Profil</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="{% url 'story1:index' %}">Story 1</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'jadwal:index' %}">AturJadwal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'story6:index' %}">AturKegiatan</a>
          </li>
         </ul>
       </div>
    </nav> 
{% endblock content %}
